@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.App {
  text-align: center;
}


.column {
  float: left;
  width: 33.33%;
}

.colum1 {
  float: left;
  width: 50%;
}

.row1 {
  content: "";
  display: table;
  clear: both;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.header {

  color: #333333;
  font-family: Georgia, Serif;
  font-size: 15px;
  align-content: center;
  text-align: center;
}

.container {
  align-content: center;
  background-color: burlywood;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 50px; 
  padding: 1.5%;
  width: 1500px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.btnAttempt{
     border-top: 1px solid #9e96f8;
   background:rgb(6, 81, 2);
  padding: 11.5px 23px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 12px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.btnSend{
     border-top: 1px solid #9e96f8;
   background:rgb(47, 96, 222);
      padding: 11.5px 23px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 12px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.btn{
   border-top: 1px solid #9e96f8;
   background:darkolivegreen;
   padding: 11.5px 23px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 12px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover {
   border-top-color: #12104a;
   background: #12104a;
   color: #cccccc;
   }
.button:active {
   border-top-color: #298dcf;
   background: #298dcf;
   }